﻿@page "/counter"

<PageTitle>Hello World!</PageTitle>

@using iac_workshop_app.Data
@inject HelloWorldService HelloWorldService

<h1>Hello World</h1>

<p role="status">Greetings: @result</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private string result = "Empty";

    private void IncrementCount()
    {
        result = HelloWorldService.Hi().Result;
    }
}
