﻿@page "/fetchdata"

<PageTitle>Get all employees</PageTitle>

@using iac_workshop_app.Data
@inject EmployeeService EmployeeService

<h1>List of all employees</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.Id</td>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.City</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Employee>? employees;

    protected override async Task OnInitializedAsync()
    {
        employees = await EmployeeService.GetEmployees();
    }
}
